/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #6da2a2;
  color: black;
}

.header {
  background-color: #6da2a2;
  color: black;
  padding: 10px;
  text-align: center;
}

#search {
  background-color: #6da2a2;
  color: black;
  padding: 10px;
  text-align: center;
}

#search:active {
  background-color: #6da2a2;
  color: black;
  padding: 10px;
  text-align: center;
}

.submit {
  background-color: #6da2a2;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  padding: 10px;
  text-align: center;
}

.search {
    width: 30vw;
    background-color: #6da2a2;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    padding: 10px;
    text-align: center;
}


#map {
    height: 75vh;
    margin: 0 auto;
    border-radius: 10px;
    width: 95%;
    color: black;
}